.toastify{
    min-width: 20vw;
    width: auto;
    padding: 1rem;
    position: absolute;
    top: 1rem;
    right: 1rem;
    color: white;
    box-shadow: 2px 2px 10px gray;
    

    
}


@media  screen and (max-width: 1024px) {
    .section_deals{
      margin: 1rem 1rem;
       }
      }
    @media  screen and (max-width: 768px) {
    .section_deals{
        grid-template-columns: 1fr   ;
        
        margin: 1rem 0.2rem;
    }
    .productList{
      grid-template-columns: 1fr 1fr;
    }
    .right_box{
      padding: 0;
    }
      }
    @media  screen and (max-width: 480px) {
    .wishlistProducts{
        grid-template-columns: 1fr 1fr   ;
    }
    .wishlistProductCard>img{
        height: 60%;
    }
      }