.toastify{
 

    
}


@media  screen and (max-width: 1024px) {
    .section_deals{
      margin: 1rem 1rem;
       }
      }
    @media  screen and (max-width: 768px) {
    .section_deals{
        grid-template-columns: 1fr   ;
        
        margin: 1rem 0.2rem;
    }
    .productList{
      grid-template-columns: 1fr 1fr;
    }
    .right_box{
      padding: 0;
    }
      }
    @media  screen and (max-width: 480px) {
    .wishlistProducts{
        grid-template-columns: 1fr 1fr   ;
    }
    .wishlistProductCard>img{
        height: 60%;
    }
      }